---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Clases particulares de programación",
    company: "",
    description:
      "Ayudo a alumnos de todo tipo de carreras a ver la programación de una manera diferente ayudándoles a lograr que superar aquellas asignaturas.",
    link: "",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
